source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget FsCheck
nuget FsCheck.NUnit
nuget NUnit 
nuget NUnit.Runners
nuget FAKE
nuget SourceLink.Fake
nuget Unquote

github fsharp/FAKE modules/Octokit/Octokit.fsx